
/* -------------------------
   GLOBAL STYLES
   ------------------------- */

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body {
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    color: #222;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 8%;

    background-color: white;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

.nav-links a:hover {
    color: #2563eb;
}

/* Footer */

footer {
    text-align: center;

    padding: 30px;
    margin-top: 50px;

    background: white;
    color: #777;
}