* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    color: #222;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 8%;

    background-color: white;

    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

.nav-links a:hover {
    color: #2563eb;
}



/* Hero Section */

.hero {
    padding: 90px 20px;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}
.search-box {
    display: flex;
    max-width: 600px;
    margin: 0 auto 25px;
}

.search-box input {
    flex: 1;
    padding: 15px;

    border: 1px solid #ccc;
    border-radius: 8px 0 0 8px;

    font-size: 16px;
}

.search-box button {
    padding: 15px 25px;

    border: none;
    border-radius: 0 8px 8px 0;

    background: #2563eb;
    color: white;

    cursor: pointer;
}
.share-button {
    display: inline-block;

    padding: 12px 22px;

    background: #111827;
    color: white;

    text-decoration: none;

    border-radius: 8px;

    font-weight: bold;
}

.share-button:hover {
    background: #374151;
}

/* Tools */

.tools-section {
    padding: 40px 8%;
}

.tools-section h2 {
    margin-bottom: 25px;
}

.tool-grid {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(250px, 1fr));

    gap: 20px;
}

.tool-card {
    background: white;

    padding: 25px;

    border-radius: 12px;

    border: 1px solid #ddd;
}

.tool-card h3 {
    margin-bottom: 10px;
}

.tool-card p {
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

.tool-card a {
    text-decoration: none;
    color: #2563eb;
    font-weight: bold;
}


/* Footer */

footer {
    text-align: center;

    padding: 30px;

    margin-top: 50px;

    background: white;

    color: #777;
}